{{ define "title" }}Login{{ end }}

{{ define "content" }}
<h1 id="header">{{ .Heading }}</h1>
<p>{{ .Content }}</p>
<form id="login-form">
  <div>
    <span>Username </span><input type="text" name="username" id="username" autofocus>
  </div>
  <div>
    <span>Password </span><input type="password" name="password" id="password">
  </div>
</form>
<div id="notification"></div>
<button id="login">Login</button>
{{ end }}

{{ define "script" }}
<script type="module" src="/templates/js/login.js"></script>
{{ end }}